*{
    margin: 0;
    padding: 0;

}

html{
    scroll-behavior: smooth;
}

.main{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 150px;
}

.navbar{
    width: available;
    height: 110px;
    margin: auto;
}

.menu{
    width: 250px;
    float: left;
    height: 140px;
    position: fixed;
    width: 100%;
    background-image: url("../images/fondoverde.jpg");

}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 100px;
}

ul li{
    list-style: none;
    margin-left: 100px;
    font-size: 5px;
}

ul li a{
    text-decoration: none;
    color: darkblue;
    font-family: "Berlin Sans FB";
    font-size: 25px;
    transition: 0.2s ease-in-out;
}

ul li a:hover{
    color: white;
}

button{
    font-size: 1em;
    font-weight: bold;
    padding: 4px 30px;
    border-radius: 5px;
    border: white 15px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
    color: white;
    background-color: blue;

}

button:hover{
    background-color: cyan;
    color: black;
}

button2{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 70px;
    border-radius: 5px;
    border: white 15px;
    color: white;
    background-color: #1d41e1;

}

h1{font-size: 2.5em;}

#hero{
    display: flex;
}

.izquierdauno{
    padding-top: 150px;
    padding-left: 50px;
    height: 700px;
    width: 65%;
    font-family: "Berlin Sans FB";
    font-size: 35px;
    text-align: center;
    color: #0067fe;
    background: white center;
}
.derechauno {
    background-size: cover;
    width: 35%;
    height: 700px;
    margin-right: 100px;
}




#somos-nosotros{
    display: flex;
    padding-left: 250px;
    background-color: #0067fe;
}

.izquierda{
    height: 500px;
    width: 35%;
    font-family: "Berlin Sans FB";
    font-size: 35px;
    text-align: justify;
    padding-top: 170px;
    padding-left: 80px;
    padding-right: 80px;
    color: white;
    background-position: center;
}
.derecha {
    background-size: cover;
    width: 35%;
    height: 900px;
}

#como-funciona{
    background-color: white;
    height: 700px;
    font-family: "Berlin Sans FB";
    font-size: 35px;
    text-align: justify;
    padding: 170px 80px;
    color: white;
    background-position: center;
}

#como-funciona h2{
    text-align: center;
    font-family: "Berlin Sans FB";
    font-size: 55px;
    color: #0067fe;
}

#columnas h3{
    text-align: center;
}

#columnas{
    -webkit-column-count: 3;
    -webkit-column-gap: 100px;
    text-align: justify;
    font-family: "Berlin Sans FB";
    font-size: 25px;
    padding: 100px 200px 200px;
    color: #0067fe;
}

#col-carta{


}

#planes{
    background-color: #0067fe;
    height: 700px;
    font-family: "Berlin Sans FB";
    font-size: 35px;
    text-align: justify;
    padding: 170px 80px;
    color: white;
    background-position: center;
}

#planes h2{
    text-align: center;
    font-family: "Berlin Sans FB";
    font-size: 55px;
    color: white;
}

#columnas-dos h3{
    text-align: center;
}
#columnas-dos h4{
    text-align: center;
}

#columnas-dos{
    -webkit-column-count: 2;
    -webkit-column-gap: 500px;
    text-align: center;
    font-family: "Berlin Sans FB";
    font-size: 20px;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    color: white;
}


#columnas-tres{
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    text-align: justify;
    font-family: "Berlin Sans FB";
    font-size: 25px;
    margin-top: -50px;
    padding-top: 100px;
    padding-left: 400px;
    padding-right: 200px;
    color: #ffffff;
}

#contacto h2{
    font-size: 60px;
}

#contacto p{
    font-size: 40px;
}

#contacto input{
    margin-left: 100px;
    margin-top: 50px;
    letter-spacing: 1px;
    border-radius: 5px;
    width: 500px;
    height: 35px;
    font-size: 20px;
}

#contacto{
    background-color: white;
    height: 700px;
    text-align: center;
    font-family: "Berlin Sans FB";
    font-size: 28px;
    color: #0067fe;
    padding: 170px 80px 50px;
    background-position: center;
}

.bordecontacto{
    width: 1200px;
    height: auto;
    margin: auto;
    border: 2px solid #000000;
    padding: 10px;
    padding-bottom: 50px;
}

#final{
    background-color: #14161b;
    color: white;
    text-align: center;
    font-family: "Berlin Sans FB";
    font-size: 50px;
    padding: 10px;
}

footer{
    background-color: #14161b;
    color: darkgray;
    text-align: center;
}
.form{
    width: 350px;
    height: 550px;
    border: 2px solid #0132d5;
    border-radius: 10px;
    padding: 10px;
}
.form-2{
    width: 400px;
    height: 600px;
    border: 2px solid #0132d5;
    border-radius: 60px;
    padding: 10px;
}
.icons a{
    text-decoration: none;
    color: #0132d5;
}
.icons ion-icon{
    margin-top: 10px;
    color: #0132d5;
    font-size: 30px;
    width: 50px;
    height: 50px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #0132d5;
}